<form action="/walls/<%= @wall.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>New Name:</label>
  <input type="text" name="name">
  <label>New Location:</label>
  <input type="text" name="location">
  <input type="submit">
</form>
