<h2> This is a wall</h2>

<%= @wall.name %>
<br>
<%= @wall.location %>
<br>
<a href="/show">Back to Show</a>
<br>
<a href="/walls/<%= @wall.id %>/edit">Edit Wall</a>
<br>
<a href="/walls/<%= @wall.id %>/delete">Delete Wall</a>
