<h3>Signup Below</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Email: <input type="text" name="email"</p>
  <br>
  <input type="submit">
</form>
