<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Neil's InstaWalls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
  <!-- <footer class="branding">
  <small>&copy; 2018 <strong>IstagramWalls</strong></small>
</footer> -->
</body>
</html>
