<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Neil's InstaWalls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  body {
    position: relative;
    top: -100%;
    transform: translateY(50%);
    transform: translateX(28%);
}
  </style>
</head>
<body>
  <h1>Welcome to Instagram Walls</h1>
  <h3>Let's Create the Greatest database of instagramable walls there ever was</h3>
  <div class="wrapper">
    <%= yield %>
  </div>
  <!-- <footer class="branding">
  <small>&copy; 2018 <strong>IstagramWalls</strong></small>
</footer> -->
</body>
</html>
